In [8]:
import pandas as pd

## 1. Leer el archivo empleados.csv

In [9]:
df = pd.read_csv('empleados.csv', encoding="latin-1") #UTF-8 no lo soportó

In [10]:
#Convertir a un DataFrame
data = pd.DataFrame(df)

In [11]:
print(data)

              Nombre  Edad  Departamento  Salario
0     Xiomara Zelaya    34  San Salvador  1250.75
1       Carlos Mejía    28   La Libertad   980.50
2          Ana Pérez    45     Santa Ana  1500.20
3         José López    22     Sonsonate   765.80
4    María Rodríguez    51      Usulután  1800.90
..               ...   ...           ...      ...
149     María Torres    57        La Paz  2120.25
150        Luis Díaz    29       Cabañas   820.75
151     Sofía Flores    41   San Vicente  1350.50
152     Carlos Ramos    23       Morazán   780.85
153       Ana Castro    55      La Unión  2070.90

[154 rows x 4 columns]

## 2. Mostrar el promedio de salario por departamento

In [12]:
salario_prom_departamento = data.groupby('Departamento')['Salario'].mean()
print(salario_prom_departamento)

Departamento
Ahuachapán      1517.800000
Cabañas          820.536364
Chalatenango    1002.181818
Cuscatlán        872.313636
La Libertad      945.763636
La Paz          2086.777273
La Unión        2045.900000
Morazán          770.595455
San Miguel      1089.631818
San Salvador    1206.786364
San Vicente     1337.850000
Santa Ana       1638.800000
Sonsonate        760.131818
Usulután        1805.895455
Name: Salario, dtype: float64

## 3. Mostrar el empleado de mayor edad

In [13]:
print(data['Edad'].max())

59

In [14]:
print(data[data['Edad'] == data['Edad'].max()])

            Nombre  Edad Departamento  Salario
27   Oscar Ramírez    59     La Unión   2200.3
111    Ana Ramírez    59     La Unión   2210.1

## 4. Calcular cuántos empleados hay en cada departamento

In [15]:
empleados_departamento = data.groupby('Departamento')['Nombre'].count()
print(empleados_departamento)

Departamento
Ahuachapán      11
Cabañas         11
Chalatenango    11
Cuscatlán       11
La Libertad     11
La Paz          11
La Unión        11
Morazán         11
San Miguel      11
San Salvador    11
San Vicente     11
Santa Ana       11
Sonsonate       11
Usulután        11
Name: Nombre, dtype: int64

## 5. Exportar resumen_departamentos.csv

In [16]:
resumen = {
    'Departamento': empleados_departamento.index,
    'Total Empleados': empleados_departamento.values,
    'Salario Promedio': salario_prom_departamento.values
}

In [17]:
df_resumen = pd.DataFrame(resumen)
print(df_resumen)

    Departamento  Total Empleados  Salario Promedio
0     Ahuachapán               11       1517.800000
1        Cabañas               11        820.536364
2   Chalatenango               11       1002.181818
3      Cuscatlán               11        872.313636
4    La Libertad               11        945.763636
5         La Paz               11       2086.777273
6       La Unión               11       2045.900000
7        Morazán               11        770.595455
8     San Miguel               11       1089.631818
9   San Salvador               11       1206.786364
10   San Vicente               11       1337.850000
11     Santa Ana               11       1638.800000
12     Sonsonate               11        760.131818
13      Usulután               11       1805.895455

In [18]:
df_resumen.to_csv('resumen_departamentos.csv', index=False)